

body {
  margin: 20px;
  font-size: 1em;
  font-family: 'Roboto';
}

.small {
  font-size: 0.8em;
}

.App {
  margin-top: 100px;
}
.MuiAppBar-colorPrimary {
  padding-left: 20px;
}

.match-card p {
  padding: 0 0 5px 0;
  line-height: 100%;
  margin: 0;
}

.match-card {
margin: 0 0 10px 0;
padding: 0;
border: 1px solid grey;
border-radius: 6px;
width: 600px;
}

.match-card>div, .match-card-detailed>div {
  margin: 10px;
}

.match-card-detailed {
  margin: 10px 0 10px 0;
  padding: 0;
  border: 1px solid grey;
  border-radius: 6px;
  width: 600px;
  }

.video-container {
  width: 100%;
  padding: 0;
}

.date-control {
  text-decoration: none;
  text-transform: uppercase;
  color: darkcyan
}

.date-control:first-of-type {
  margin-right: 34px;  
}

.date-control:hover {
  color: darkslategray}

@media only screen and (max-width: 660px) {
  .match-card, .match-card-detailed {
    width: 100%;
  }
}